<h1>{{ section.settings.liquid-checkbox }}</h1>

{% if section.settings.liquid-checkbox == true %}
  <h2>Checkbox is Checked</h2>
{% else %}
  <h2>
    Checkbox is Not Checked
  </h2>
{% endif %}

{% comment %}
schema içinde birde number alanı eklendi.
{% endcomment %}
{{ section.settings.liquid-number }}

{% schema %}
  {
    "name": "Liquid Reference Checkbox",
    "settings": [
      {
        "id": "liquid-checkbox",
        "type": "checkbox",
        "label": "A checkbox in liquid"
      }, {
        "id": "liquid-number",
        "type": "number",
        "label": "Add a Number"
      }
    ],
    "presets": [
      {
        "name": "Liquid Reference Checkbox",
        "category": "Reference"
      }
    ]
  }
{% endschema %}

{% comment %}
bu sayfa sayesinde => Template kısmından add section dediğimde => Liquid Reference Checkbox adı ile => 
bir checkbox alanı getirecek bize ve tıklamalrın kayıt edilmesi sağlanacak.
{% endcomment %}