<h1>This Works</h1>

{% schema %}
  {
    "name": "Liquid Reference",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "A Reference for Shopify Liquid"
      }
    ],
    "templates": ["index", "page", "product"]
  }
{% endschema %}